body {
  font-family: Arial, Helvetica, sans-serif;
}

.hotels-header h2 {
  padding: 20px;
  text-align: center;
}

.hotels-body {
  margin: auto;
  max-width: 90%;
}

.hotel-item {
  border-radius: 2px;
  border: 1px solid #9c9c9c;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.hotel-name-container {
  max-width: 300px;
}

.hotel-name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-description-container {
  max-width: 300px;
  padding-top: 10px;
}

.hotel-description {
  font-size: 20px;
  font-weight: 300;
}

.hotel-telephone-container {
  max-width: 250px;
}

.hotel-telephone {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.stars {
  max-width: 100px;
}
